h1 {
    color: blue;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 600px;
}

h2 {
    color: green;
    font-weight: bolder;
    font-size: 23px;
    text-align: center;
    width: 600px;
}

i {
    color: green;
}

p {
    font-family: Arial;
    font-size: 14;
    text-indent: 50px;
    width: 600px;
    text-align: justify;
    
}

ul {
    width: 500px;
    text-align: justify;
}